In [1]:
import numpy as np

arr1 = np.array([1,2,3])

print(arr1)

[1 2 3]

In [2]:
#Checking the type of array
print(type(arr1))

<class 'numpy.ndarray'>

In [3]:
#Checking to see the array class
print(arr1.shape)

(3,)

In [4]:
#printing a specific position in the array and changing the value
print(arr1[2])

3

In [5]:
arr1[2]=5
print(arr1)

[1 2 5]

In [6]:
arr1

array([1, 2, 5])

In [7]:
#creating a 2 dimensional array
arr2 = np.array([[1,2,3],[3,4,5]])
arr2

array([[1, 2, 3],
       [3, 4, 5]])

In [8]:
arr2[1][2]

5

In [9]:
# Checking to see what I'm working with. How many rows and elements
print(arr2.shape)

(2, 3)

In [11]:
#counting the array backwards
arr2[1][-2]

4

In [12]:
#Create an array that does not hold values but a string instead
arrS = np.array(['USA', 'New Zealand', 'Brazil', 'Spain'])
arrS

array(['USA', 'New Zealand', 'Brazil', 'Spain'], dtype='<U11')

In [16]:
#Using the command in numpy library arange to create a range of numbers, skipping a number every other one

arrR = np.arange(0,30,2)
arrR

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [17]:
#Create numbers from 0-10 using 20 increments with linspace
arrL= np.linspace(0,10, 20)
arrL

array([ 0.        ,  0.52631579,  1.05263158,  1.57894737,  2.10526316,
        2.63157895,  3.15789474,  3.68421053,  4.21052632,  4.73684211,
        5.26315789,  5.78947368,  6.31578947,  6.84210526,  7.36842105,
        7.89473684,  8.42105263,  8.94736842,  9.47368421, 10.        ])

In [18]:
#using random from numpy
arrR = np.random.rand(10)
arrR

array([0.03274323, 0.68481075, 0.19944037, 0.47636809, 0.96714093,
       0.80136277, 0.62615476, 0.44483774, 0.39109063, 0.22751074])

In [19]:
#creating multiple rows using random from numpy
arrR = np.random.rand(3,4)
arrR

array([[0.54624376, 0.29105761, 0.2424924 , 0.32702967],
       [0.65233492, 0.66932101, 0.50499431, 0.98612009],
       [0.96548239, 0.95831721, 0.7299776 , 0.43967579]])

In [20]:
#Creating an empty dataset, creating a mask over images, example if removing the background of a image

print(np.zeros(10))
print('/n')
print(np.zeros((2,3)))

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
/n
[[0. 0. 0.]
 [0. 0. 0.]]

In [21]:
#Creating a mask of 1s and fill them in with 0s

print(np.ones((10,10)))

[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]

In [22]:
#create an array and repeat multiple times using repeat

arr = [0, 1, 2]
print(np.repeat(arr, 3))

[0 0 0 1 1 1 2 2 2]

In [23]:
#create an array using tile command from numpy

print(np.tile(arr,3))

[0 1 2 0 1 2 0 1 2]

In [24]:
#creating an identity matrix using comand eye from numpy

identity_matrix = np.eye(3)
identity_matrix

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [25]:
#manipulate the matrix to not have ones down the middle

np.diag([1,2,3,4,5])

array([[1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0],
       [0, 0, 0, 0, 5]])

In [26]:
#reverse creating a 5x5

arr = np.random.rand(5,5)
arr

array([[0.59142383, 0.00358787, 0.87678545, 0.34404763, 0.05988013],
       [0.35659819, 0.5040861 , 0.14366628, 0.04156612, 0.88647782],
       [0.97816657, 0.39417514, 0.39368723, 0.8228788 , 0.79712351],
       [0.44237168, 0.83253282, 0.83247751, 0.88429035, 0.7089386 ],
       [0.92300072, 0.56792255, 0.54772841, 0.56668498, 0.33665695]])

In [27]:
#working with matrix, going to extract the values diag

np.diag(arr)

array([0.59142383, 0.5040861 , 0.39368723, 0.88429035, 0.33665695])

In [29]:
#print the dimensions and the size

arr.ndim

2

In [30]:
arr.size

25

In [31]:
#using random with integers, -10 to 10 only 4 

np.random.randint(-10, 10, 4)

array([-1, -5,  1,  4])

In [32]:
arr

array([[0.59142383, 0.00358787, 0.87678545, 0.34404763, 0.05988013],
       [0.35659819, 0.5040861 , 0.14366628, 0.04156612, 0.88647782],
       [0.97816657, 0.39417514, 0.39368723, 0.8228788 , 0.79712351],
       [0.44237168, 0.83253282, 0.83247751, 0.88429035, 0.7089386 ],
       [0.92300072, 0.56792255, 0.54772841, 0.56668498, 0.33665695]])

In [33]:
#Summing up the values in the array with sum from np

np.sum(arr)

13.836755253614763

In [34]:
#Summing up the row and can also do by column using the axis of 0

np.sum(arr, axis=1)

array([1.87572492, 1.93239451, 3.38603125, 3.70061095, 2.94199362])

In [35]:
#using the min fucntion from np to grab the min value in the array

np.min(arr)

0.0035878694547805123

In [36]:
#using min and axis to find the min value in a column

np.min(arr, axis=0)

array([0.35659819, 0.00358787, 0.14366628, 0.04156612, 0.05988013])

In [37]:
arr

array([[0.59142383, 0.00358787, 0.87678545, 0.34404763, 0.05988013],
       [0.35659819, 0.5040861 , 0.14366628, 0.04156612, 0.88647782],
       [0.97816657, 0.39417514, 0.39368723, 0.8228788 , 0.79712351],
       [0.44237168, 0.83253282, 0.83247751, 0.88429035, 0.7089386 ],
       [0.92300072, 0.56792255, 0.54772841, 0.56668498, 0.33665695]])

In [39]:
#Finding the max in the array 

np.max(arr)

0.9781665729334174

In [40]:
#Using the max function from np to find the max value in the rows of the array

np.max(arr, axis=1)

array([0.87678545, 0.88647782, 0.97816657, 0.88429035, 0.92300072])

In [41]:
#using the mean function to find the mean of the array

np.mean(arr)

0.5534702101445905

In [42]:
# Using the mean from np to find the mean of the column

np.mean(arr, axis=0)

array([0.6583122 , 0.4604609 , 0.55886898, 0.53189358, 0.5578154 ])

In [43]:
#Lets slice the array

arr[1:2:4]

array([[0.35659819, 0.5040861 , 0.14366628, 0.04156612, 0.88647782]])

In [44]:
#using the sort function to sort by column

np.sort(arr, axis=0)

array([[0.35659819, 0.00358787, 0.14366628, 0.04156612, 0.05988013],
       [0.44237168, 0.39417514, 0.39368723, 0.34404763, 0.33665695],
       [0.59142383, 0.5040861 , 0.54772841, 0.56668498, 0.7089386 ],
       [0.92300072, 0.56792255, 0.83247751, 0.8228788 , 0.79712351],
       [0.97816657, 0.83253282, 0.87678545, 0.88429035, 0.88647782]])

In [45]:
arr

array([[0.59142383, 0.00358787, 0.87678545, 0.34404763, 0.05988013],
       [0.35659819, 0.5040861 , 0.14366628, 0.04156612, 0.88647782],
       [0.97816657, 0.39417514, 0.39368723, 0.8228788 , 0.79712351],
       [0.44237168, 0.83253282, 0.83247751, 0.88429035, 0.7089386 ],
       [0.92300072, 0.56792255, 0.54772841, 0.56668498, 0.33665695]])

In [46]:
#Transpose the array

arr[:3,:]

array([[0.59142383, 0.00358787, 0.87678545, 0.34404763, 0.05988013],
       [0.35659819, 0.5040861 , 0.14366628, 0.04156612, 0.88647782],
       [0.97816657, 0.39417514, 0.39368723, 0.8228788 , 0.79712351]])

In [47]:
arr[:3,:].T

array([[0.59142383, 0.35659819, 0.97816657],
       [0.00358787, 0.5040861 , 0.39417514],
       [0.87678545, 0.14366628, 0.39368723],
       [0.34404763, 0.04156612, 0.8228788 ],
       [0.05988013, 0.88647782, 0.79712351]])

In [48]:
#Original function still works

arr[:3,:].transpose()

array([[0.59142383, 0.35659819, 0.97816657],
       [0.00358787, 0.5040861 , 0.39417514],
       [0.87678545, 0.14366628, 0.39368723],
       [0.34404763, 0.04156612, 0.8228788 ],
       [0.05988013, 0.88647782, 0.79712351]])

In [49]:
#Flatten the array to make it to one set of values

arr[:3,:].flatten()

array([0.59142383, 0.00358787, 0.87678545, 0.34404763, 0.05988013,
       0.35659819, 0.5040861 , 0.14366628, 0.04156612, 0.88647782,
       0.97816657, 0.39417514, 0.39368723, 0.8228788 , 0.79712351])

In [51]:
# Append to the array

arr = np.array([4, 5, 6, 7, 8])
arr

array([4, 5, 6, 7, 8])

In [52]:
arr1 = np.append(arr,8)
arr1

array([4, 5, 6, 7, 8, 8])

In [53]:
arr2 = np.insert(arr, 0, [1,2,3])
arr2

array([1, 2, 3, 4, 5, 6, 7, 8])

In [54]:
arr2 = np.insert(arr, 1, [1,2,3])
arr2

array([4, 1, 2, 3, 5, 6, 7, 8])

In [55]:
#Delete function in np

arr3 = np.delete(arr2, 0)
arr3

array([1, 2, 3, 5, 6, 7, 8])

In [58]:
arr3 = np.delete(arr2, [1,4])
arr3

array([4, 2, 3, 6, 7, 8])

In [59]:
#Demonstrate copy funtion in np

arrC = arr3.copy()
arrC

array([4, 2, 3, 6, 7, 8])

In [61]:
#Concatenate arrays

arr1 = np.array([[1,2,3,4], [1,2,3,4]])
arr2 = np.array([[5,6,7,8], [5,6,7,8]])
arr_cat = np.concatenate((arr1,arr2), axis=0)
print(arr_cat)

[[1 2 3 4]
 [1 2 3 4]
 [5 6 7 8]
 [5 6 7 8]]

In [62]:
arr1 = np.array([[1,2,3,4], [1,2,3,4]])
arr2 = np.array([[5,6,7,8], [5,6,7,8]])
arr_cat = np.concatenate((arr1,arr2), axis=1)
print(arr_cat)

[[1 2 3 4 5 6 7 8]
 [1 2 3 4 5 6 7 8]]

In [64]:
#Data exploration using the unique commmand
arr = np.array([1,2,3,4,5,6,7,8,9,4,5,6,7,2,3])
np.unique(arr)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [65]:
#Returning the uniques values and the counts for each

uniques, counts = np.unique(arr, return_counts=True)
print(uniques)
print(counts)

[1 2 3 4 5 6 7 8 9]
[1 2 2 2 2 2 2 1 1]

In [67]:
# intersection, differentiation, neither

arr1 = np.array([1,2,3,4,5])
arr2 = np.array([3,4,5,6,7])
print(np.intersect1d(arr1, arr2)) #have in common
print(np.union1d(arr1, arr2)) #different uniques values
print(np.setdiff1d(arr1, arr2)) #difference in array 1 and 2
print(np.setxor1d(arr1, arr2)) # what is not in 1 but is in array2

[3 4 5]
[1 2 3 4 5 6 7]
[1 2]
[1 2 6 7]